.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.ingredients {
  width: 50%;
  padding-left: 20px;;
}

h4 {
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.nameCount h4 {
  font-size: 25px;
}

.ingredients button {
  background: linear-gradient(#bc581e, #e27b36);
  padding: 15px;
  font-size: 20px;
  border-radius: 8px;
}

.ingredients img {
  width: 200px;
  height: 150px;
}

.burPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.burger {
  border: 2px solid black;
  width: 50%;
}





